:root {
  --font: -apple-system, blinkmacsystemfont, system-ui, sans-serif;
  --main-content: 32rem;
  --main-content-biography: 15.5rem;
  --code-content-index: 19rem;
  --white: rgba(243, 241, 240, 0.99);
  --white-grey: rgba(243, 241, 240, 0.91);
  --black: #111;
  --black-grey: #222;
  --grey: #716a66;
  --foreground: var(--black);
  --footnote-green: #227a66e8;
  --midground: var(--black-grey);
  --background: var(--white);
  --linkedin: #5f789e;
  --strava: #5f9477;
  --soundcloud: #a87753;
  --stackoverflow: #6c6060;
  --github: #5862b1;
  --thoughts: #a0576d;
  --personal: #464b6a;
  --work: #4e3f3f;
  --email: #633f7d;
  --dev:#b6af86;
  --transition:
    color 0.2s ease,
    background-color 0.2s ease,
    text-decoration-color 0.2s ease,
    opacity 0.2s ease,
    top 0.2s ease,
    left 0.2s ease;
  --moon-top: 0;
  --moon-left: 0;
  color-scheme: light;
}

[data-theme="dark"] {
  --foreground: var(--white);
  --midground: var(--white-grey);
  --background: var(--black);
  --moon-top: -4px;
  --moon-left: 6px;
  color-scheme: dark;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}

body {
  background-color: var(--background);
  transition: var(--transition);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 3rem;
  transition: var(--transition);
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 2rem;
  transition: var(--transition);
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
}

kbd {
  font-size: 1.8rem;
  letter-spacing: -0.25em;
  color: var(--dev);
}

h3 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 1.2rem;
  transition: var(--transition);
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1rem;
}

.date {
  color: var(--grey);
}

p {
  font-family: var(--font);
  color: var(--midground);
  font-size: 1.25rem;
  transition: var(--transition);
}

a {
  text-decoration: none;
}

p a,
p a:visited {
  color: var(--midground);
  font-weight: 500;
  transition: var(--transition);
  text-decoration-line: underline;
  text-underline-position: under;
}

code {
  transition: var(--transition);
  font-family: Menlo, monospace;
  background-color: var(--foreground);
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--background);
}

pre {
  transition: var(--transition);
  font-family: Menlo, monospace;
  background-color: var(--foreground);
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

pre code {
  background-color: var(--foreground) !important;
}

blockquote {
  border-left: solid 4px var(--foreground);
  margin-inline-start: 0;
  padding-inline-start: 40px;
}

.linkedin,
.linkedin::selection {
  text-decoration-color: var(--linkedin);
}

.soundcloud,
.soundcloud::selection {
  text-decoration-color: var(--soundcloud);
}

.thoughts,
.thoughts::selection {
  text-decoration-color: var(--thoughts);
}

.github,
.github::selection {
  text-decoration-color: var(--github);
}

.stackoverflow,
.stackoverflow::selection {
  text-decoration-color: var(--stackoverflow);
}

.email,
.email::selection {
  text-decoration-color: var(--email);
}

.dev,
.dev::selection {
  text-decoration-color: var(--dev);
}

.strava,
.strava::selection {
  text-decoration-color: var(--strava);
}

.profile-photo {
  border-radius: 32%;
}

.center-photo {
  display: flex;
  justify-content: center;
  margin: 35px 0px 45px 0px;
}

.return-to-main {
  display: flex;
  justify-content: center;
}

.thoughtsPostTitleAndTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thoughtsPostCareerTag {
  background-color: var(--linkedin);
  color: var(--white);
}

.thoughtsPostPersonalTag {
  background-color: var(--thoughts);
  color: var(--white);
}

.footnote-link-body, .footnote-link-foot {
  font-size: 0.85rem;
}

sup.footnote-link-foot {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.75rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.9rem;
  }

  kbd {
    font-size: 1.20rem;
    letter-spacing: -0.4em;
  }

  p {
    font-size: 1rem;
  }

  a.footnote-link-body {
    font-size: 0.75rem;
  }

  a.footnote-link-foot {
    font-size: 0.85rem;
  }

  code {
    font-size: 0.7rem;
  }

  .center-photo {
    margin: 29px 3px 29px 0px;
  }

  #code-page-description {
    font-size: 1rem;
    max-width: var(--code-content-index);
  }

  #biography {
    margin: 0 auto;
    max-width: var(--main-content-biography);
    margin-left: 38.15px;
  }

  #biography p {
    font-size: 1.0272rem;
    letter-spacing: 0.5px;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: none;
  }
}
